[submodule "luna"]
	path = luna
	url = https://github.com/huemorgan/luna.git
[submodule "plugin-whatsapp"]
	path = plugin-whatsapp
	url = https://github.com/huemorgan/plugin-whatsapp.git
[submodule "luna-service"]
	path = luna-service
	url = https://github.com/huemorgan/luna-service.git
